[user]
	name = Ryan Nealeigh
	email = ryan.nealeigh@liferay.cloud
	signingkey = 0xA7A65F2198093FC7
[core]
	editor = nano
	pager = less
[pager]
	status = false
	branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	renamelimit = 20208
[url "git@github.com:"]
	insteadOf = http://github.com/
	insteadOf = https://github.com/